@model BEUETallerCrud.Pelicula

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pelicula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_pelicula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_pelicula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_lanzamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_lanzamiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duracion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_pelicula }) |
    @Html.ActionLink("Back to List", "Index")
</p>
